---
http_interactions:
- request:
    method: get
    uri: https://testapp.tessituranetworkramp.com/LiveAPI/Tessitura.asmx/GetPerformanceDetail?iModeOfSale=10&iPerf_no=1230
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<DataSet xmlns=\"http://tessiturasoftware.com/\">\r\n
        \ <xs:schema id=\"GetPerformanceDetailResult\" xmlns=\"\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:msdata=\"urn:schemas-microsoft-com:xml-msdata\">\r\n    <xs:element
        name=\"GetPerformanceDetailResult\" msdata:IsDataSet=\"true\" msdata:UseCurrentLocale=\"true\">\r\n
        \     <xs:complexType>\r\n        <xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\">\r\n
        \         <xs:element name=\"Performance\">\r\n            <xs:complexType>\r\n
        \             <xs:sequence>\r\n                <xs:element name=\"inv_no\"
        type=\"xs:int\" minOccurs=\"0\" />\r\n                <xs:element name=\"description\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                <xs:element name=\"type\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                <xs:element name=\"text1\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                <xs:element name=\"text2\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                <xs:element name=[...]
